@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100dvh;
}

@layer base {
  html {
    font-size: 100%;
  }

  select,
  textarea,
  input,
  button {
    font: inherit;
  }

  textarea,
  input {
    font: inherit;
    line-spacing: inherit;
    word-spacing: inherit;
  }

  @media print {
    body {
      font-size: 8pt;
    }
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
